<div class="mb-3 p-5 " style="
background-image: url('img/alpha-pat.jpg');
background-repeat: repeat;
background-size: 150px;
box-shadow: inset 0 0 20px #00000077;">
    <h1 class="redfive pb-0 mb-0" style="font-size: 3em;">Just can't wait?</h1>
    <p class="harabara text-smoke-dark mb-4" style="font-size: 1.5em; opacity: 100%;">Don't be shy. Send us a
        message.</p>
    <div>
        <div class="mx-auto card text-center mb-3" style="width: 18rem;">
            <div class="card-body shadow">
                <h5 class="card-title harabara" style="font-size: 2em;">Contact Us</h5>
                <p class="card-text   opensans text-smoke-dark">
                    <a href="mailto:team@studioz.digital" target="_blank"
                        class="d-inline-flex focus-ring py-1 px-2 text-decoration-none  border rounded shadow-sm">team@studioz.digital</a>
                </p>
                <a href="mailto:team@studioz.digital" target="_blank"
                    class="btn btn-sm bg-pear btn-dark text-white opensans shadow-sm border-0">Open Email</a>
            </div>
        </div>

    </div>

</div>