#opacityParent {
    position: absolute;
    top: 200px;
    width: 300px;
    height: 150px;
    background-color: lightblue;
    border: 1px solid black;
    animation: mymove 5s infinite;
}

#opacityChild {
    position: absolute;
    top: 180px;
    left: 30px;
    width: 300px;
    height: 150px;
    background-color: coral;
    border: 1px solid black;
}

@keyframes fadein {
    0% {
        opacity: 100;
    }

    100% {
        opacity: 0.5;
    }
}

.opacityFadeIn {
    opacity: 100%;
    animation: fadein .3s 1;
    opacity: 50%;
}


@keyframes fadeout {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

*/ .opacityFadeOut {
    opacity: 50%;
    animation: fadeout .3s 1;
}

/* #typewriter-text {
    white-space: nowrap;
    font-family: monospace;
font-size: 2em;
}

#typewriter-cursor {
    display: inline-block;
    font-weight: bold;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.75);
    animation: blink 0.7s steps(1) infinite;
}
    

.cursor{
    position: relative;
    width: 24em;
    /* margin: 0 auto; */
/* font-size: 30px; */
/* transform: translateY(-50%);
    border-right: 4px solid rgba(0, 0, 0, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: blinkCursor 0.7s steps(1) infinite;
    font-weight: bold;
    
}

.typewriter-animation {
  animation: 
    typewriter 5s steps(30) 1s 1 normal both, 
    blinkingCursor 600ms steps(2) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(0, 0, 0, 1); }
  to { border-right-color: transparent; }
}

 */

.switch-animation {
    height: 100px;
    overflow: hidden;
    margin-left: 1rem;
    /* margin-bottom: 2.81rem; */
    /* margin-right: 1rem; */
}

.switch-animation>div>div {
    display: inline-block;
    /* margin-bottom: 2.81rem; */
}

.switch-animation {
    animation: text-animation 8s infinite;
}

.first div {
    background-color: #e82b2f;
}

.second div {
    background-color: #292cbf;
    color: white;
}

.third div {
    background-color: #1da805;
}

.fourth div {
    background-color: #060211;
    color: white;
}

.clamp {
    font-size: clamp(16px, 11.7vw, 60px);
}

.switch-container {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
    /* height: 50vh; */
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

@keyframes text-animation {
    25% {
        transform: translatey(-11.7vmin);
        opacity: 1;
    }

    50% {
        transform: translatey(-11.7vmin);
    }

    75% {
        transform: translatey(-30vmin);
    }

    100% {
        transform: translatey(-5vmin);
    }
}

.soft {
    background: linear-gradient(-45deg,rgba(213, 221, 5, 1) 0%, rgb(59, 255, 25) 25%, rgba(213, 221, 5, 1) 50%, rgba(255, 168, 74, 1) 75%, rgba(213, 221, 5, 1) 100%);
	animation: soft 15s ease infinite;
}

@keyframes soft {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}